/*map stuff css*/

body{
    background-color: darkseagreen;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#map {
        height: 550px;
        width: 90%;
        border: 2px solid white;
        border-style: solid;
        float:right;
}

#body {
    padding-left: 6%;
    font-family: Verenda, sans-serif;
    background-color: black;
    color: white;
    border: 3px solid white;
}

h2:hover {
    text-decoration: none;
}

h2 {
    position: relative;
    text-decoration: none;
    font-family: Verenda, sans-serif;
    color: white;
}

#header {
   padding-left: 10%;
   font-family: Verenda, sans-serif;
    background-color: black;
    color: white;
    border: 3px solid white;
}
.container {
    display: grid;
    grid-template-columns: 25% 100%;
    grid-template rows: 25% 100%;
    grid-template-areas:
        "title map1"
        "info map1";
}

.map1 {
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 4%;
    padding-right: 5%;
    float: right;
    width: 70%;
}

.left {
    width: 100%
    position: absolute;
    padding-left:5%;
    padding-right: 5%;
    z-index: 1;
}


.title {
    height: 10%;
}
.info {
    width: auto;
    height: 85%
}
